
body {
    background-image: url(assets/images/interlaced.png);
    
}

.header {
    box-sizing: border-box;
    background-color: teal;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif
    

}


.main {
    box-sizing: border-box;
    max-width: 960px;
    max-height: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-align: 
    background-position: center;
    line-height: 45px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font size: 14px;

    
}

img {
    float: left;
    
}

.clearfix{
    overflow: auto;
}
.about {
    color: teal;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #cc6666;
    
}

li {
float: right;
}

li a {
display: block;
color: white;
text-align: center;
margin: 0 15px 0 15px;
padding: 0 15px 0 15px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

.img {
    border-radius: 50%;

}

nav {
   margin: 0;
   overflow: hidden;
   text-align: center;
   
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 8px solid #4aaaa5;
  background-color: grey;
  text-align: center;
}
</style>